<div class="gal-item">
			<a href="#" class="gal-del"><img src="gal_del.png"></a>
			<div class="gal-inner-holder">
				<div class="img preloader"><img src="preloader.gif"></div>
				<div class="img-data">
					<div class="img-name">Image.jpg</div>
					<div class="time-size">
						<div class="time">24.11.2011</div>
						<div class="size">1024MB</div>
					</div>
				</div>
			</div>
		</div>
