<script id="fileupload_tmpl" type="text/x-jquery-tmpl">
<div id="asset_${id}" class="gal-item" data-url="${url_content}">
  <%= link_to '', "/ckeditor/${controller}/${id}.json",
          remote: true,
          method: :delete,
          title: I18n.t('ckeditor.buttons.delete'),
          data: { confirm: t('ckeditor.confirm_delete') },
          class: "fileupload-cancel gal-del" %>

  <div class="fileupload-file gal-inner-holder">
    <div class="img"><img src="${url_thumb}" title="${filename}"></div>
    <div class="img-data">
      <div class="img-name">${filename}</div>
      <div class="time-size">
        <div class="time">${format_created_at}</div>
        <div class="fileupload-size size">${size}</div>
      </div>
    </div>
  </div>
</div>
</script>
