.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/schema.rb
test/dummy/log/*.log
test/dummy/log/
test/dummy/public/ckeditor_assets/
test/dummy/tmp/
test/tmp
test/dummy/public/uploads/*
*.swp
.idea
.DS_Store
