<div id="fileupload" class="gal-holder">
  <div class="gal-item">
    <div class="fileupload-button gal-upload-holder">
  		<%= link_to I18n.t(:upload, :scope => [:ckeditor, :buttons]), 'javascript:void(0)', :class => "add" %>
		</div>
	</div>
  
  <div class="fileupload-list">
    <%= render :partial => 'ckeditor/shared/asset', :collection => @attachments %>		
  </div>
</div>

<script type="text/javascript">
  <%= Ckeditor::Utils.js_fileuploader('attachments') %>
</script>
