<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow">
	<%= csrf_meta_tag %>
  <title><%= I18n.t('page_title', :scope => [:ckeditor]) %></title>
  <link href="/javascripts/ckeditor/filebrowser/stylesheets/uploader.css" type="text/css" rel="stylesheet">
  <script src="/javascripts/ckeditor/filebrowser/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/javascripts/ckeditor/filebrowser/javascripts/jquery.tmpl.js" type="text/javascript"></script>
  <script src="/javascripts/ckeditor/filebrowser/javascripts/fileuploader.js" type="text/javascript"></script>
  <script src="/javascripts/ckeditor/filebrowser/javascripts/rails.js" type="text/javascript"></script>
  <script src="/javascripts/ckeditor/filebrowser/javascripts/application.js" type="text/javascript"></script>
  <script type="text/javascript">
	  var CKEditorFuncNum = $.QueryString["CKEditorFuncNum"];
	  var CKEditorName = $.QueryString["CKEditor"];
	  var CKEDITOR = window.opener.CKEDITOR;
	  var EDITOR = CKEDITOR.instances[CKEditorName];
  </script>
</head>
<body>
	<%= yield %>
	<%= render :partial => 'ckeditor/shared/asset_tmpl' %>
</body>
</html>
